{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Issued</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/searchpanes/2.2.0/css/searchPanes.bootstrap5.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/select/1.7.0/css/select.bootstrap5.min.css" rel="stylesheet">


</head>

<style>
  .dropdown-container {
    position: relative;
    width: 200px;
    margin-bottom: 15px;
  }

  select {
    width: 100%;
    padding: 6px;
    border: 1px solid #8f8888;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none;
    background-color: #fff;
    cursor: pointer;
  }

  select:hover {
    background-color: rgba(249, 245, 245, 0.66);
  }
</style>

<body class="body">
  <div class="sidebar">
    <div class="container">
      {% include 'sidebar.html' %}
    </div>
  </div>

  <div class="d-flex justify-content-end custom-margin">
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newEntryModal">
        Issue Item
      </button>
      <button id="report" type="button" class="btn btn-primary">Download</button>
    </div>
    <div class="position-fixed top-0 start-50 translate-middle-x p-2" style="width: 50%;">
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show {% if message.tags == 'error' %}alert-danger{% endif %}"
        role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

  <!-- Include DataTables JS -->
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/searchpanes/2.2.0/js/dataTables.searchPanes.min.js"></script>
  <script src="https://cdn.datatables.net/searchpanes/2.2.0/js/searchPanes.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#example').DataTable({
        // Add your DataTable options here
      });
    });
  </script>


  <div class="Table-container">
    <h3>Issued History</h3>
    <table id="example" class="table table-striped nowrap">
      <thead>
        <tr>
          <th scope="col">Item Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Issue Date</th>
          <th scope="col">Department</th>
          <th scope="col">Refrence No.</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        {% for issued_item in issued_items %}
        <tr>
          <td>{{ issued_item.ItemName.name }}</td>
          <td>{{ issued_item.Quantity }}</td>
          <td>{{ issued_item.Name_of_Employee.name }}</td>
          <td>{{ issued_item.Issue_Date|date:"Y M d" }}</td>
          <td>{{ issued_item.Department.department }}</td>
          <td>{{ issued_item.Refrence_No}}</td>
          <td>{{ issued_item.Location }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="newEntryModal" tabindex="-1" aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newEntryModalLabel">New Issued Entry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'issued' %}">
            {% csrf_token %}

            <div class="mb-2">
              <label class="form-label" for="item_name">Item Name:</label>
              <select name="item_name" required>
                <option value="" selected disabled>Select an item</option>
                {% for item in items %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>
            </div>


            <div class="mb-2">
              <label class="form-label" for="quantity">Quantity:</label>
              <input type="number" name="quantity" placeholder="eg. 10" required>
            </div>

            <div class="mb-2">

              <label class="form-label" for="employee_name">Employee Name:</label>
              <select name="employee_name" required>
                <option value="" selected disabled>Select Employee</option>
                {% for faculty in faculty_names %}
                <option value="{{ faculty.name }}">{{ faculty.name }}</option>
                {% endfor %}
              </select>

            </div>


            <div class="mb-2">

              <label class="form-label" for="issue_date">Issue Date:</label>
              <input type="date" class="form-control" name="issue_date" required>

            </div>

            <div class="mb-2">

              <label class="form-label" for="department">Department:</label>
              <select name="department" required>
                <option value="" selected disabled>Select Department</option>
                {% for department in departments %}
                <option value="{{ department.department }}">{{ department.department }}</option>
                {% endfor %}
              </select>

            </div>

            <div class="mb-2">
              <label class="form-label" for="refrence_No">Refrence No:</label>
              <input type="text" placeholder="eg. 1234" class="form-control" name="refrence_No" required>
            </div>

            <div class="mb-2">

              <label class="form-label" for="location">Location:</label>
              <input type="text" placeholder="eg. Lab 5" class="form-control" name="location" required>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script>
    const exportBtn = document.getElementById('report');

    exportBtn.addEventListener('click', () => {

      // Get the header row
      const headers = [];
      const headerRow = document.querySelector('#example thead tr');
      headerRow.querySelectorAll('th').forEach(th => {
        headers.push(th.innerText);
      });

      // Get data rows
      const rows = document.querySelectorAll('#example tbody tr');
      const csvData = [headers.join(",")];

      rows.forEach(row => {
        const cols = row.querySelectorAll('td');
        const csvRow = [];
        cols.forEach(col => {
          csvRow.push(col.innerText);
        })
        csvData.push(csvRow.join(","));
      });

      // Download CSV
      downloadCSV(csvData.join("\n"), 'Issue-history.csv');

    });

    function downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;
      // CSV file
      csvFile = new Blob([csv], { type: "text/csv" });
      // Download link
      downloadLink = document.createElement("a");
      // File name
      downloadLink.download = filename;
      downloadLink.href = window.URL.createObjectURL(csvFile);
      downloadLink.style.display = "none";
      document.body.appendChild(downloadLink);
      // Click download link
      downloadLink.click();
    }
  </script>
</body>

</html>